<div class="row mt-3">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <h1 class="card-header h4">
        Change your password
      </h1>

      <div class="card-block">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group row <%= "has-danger" if resource.errors.include?(:email) %>">
            <%= f.label :password, "New password", class: "col-sm-2 form-control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password, class: "form-control" %>

              <% if resource.errors.include?(:password) %>
                <% resource.errors.full_messages_for(:password).each do |message| %>
                  <p class="text-danger mt-1 mb-0">
                    <%= message %>
                  </p>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group row <%= "has-danger" if resource.errors.include?(:password_confirmation) %>">
            <%= f.label :password_confirmation, "Confirm new password", class: "col-sm-2 form-control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password_confirmation, class: "form-control" %>

              <% if resource.errors.include?(:password_confirmation) %>
                <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
                  <p class="text-danger mt-1 mb-0">
                    <%= message %>
                  </p>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2">
              <%= f.submit "Change my password", class: "btn btn-primary btn-block" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
